.mat-toolbar {
position: relative;
}

ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li{
  margin-left: 1px;
  margin-right: 1px;
}

a{
  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}

