.navbar{
   position: fixed;
  top: 0;
  left:0;
  right: 0;
}

.mat-toolbar {
position: relative;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  flex: 1 1 0;
  margin-left: 1px;
  margin-right: 1px;
}

.wide-hide {
  display: none;
}

@media (max-width: 720px) {
  .wide-show {
    display: none;
  }
  .wide-hide {
    display: flex;
  }
}

.spacer {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: white;
}
