<mat-card class="backlogg">
    <mat-card-content>
<h2>Posts</h2>
  <p>
    On the top there's a Posts section to try out. It's a simple list of posts that
    contain one image. It's connected to a database (MongoDB) that stores the posts. Try it out by
    by creating a user and login. Since I'm still working on the SSL/TSL use fake passwords
    and username. The password is encrypted and stored on the DB.
  </p>


      <h2>To Do</h2>
      <p>
        At the moment my focus will be on this MEAN stack app. Not necessarily in any order:
      </p>
      <mat-list>
        <mat-list-item draggable="true"> Drag and drop with npm ng.dnd </mat-list-item>
        <mat-list-item draggable="true"> KanBan board with draggable & droppable items </mat-list-item>
        <mat-list-item draggable="true"> Connection to git, show some feed  </mat-list-item>
        <mat-list-item draggable="true"> Interactive mini-game </mat-list-item>
        <mat-list-item draggable="true"> FB, Linkedin, git links </mat-list-item>
        <mat-list-item draggable="true">  SSL/TSL </mat-list-item>
        <mat-list-item draggable="true"> SCSS & mixin </mat-list-item>
       </mat-list>
      </mat-card-content>
</mat-card>
