mat-card-content a, a:visited
{
  color: inherit;
}
mat-grid-tile {
  background: inherit;
}

.card-picture {
  width: 250px;
  margin-bottom: 2%;
}

.card-picture img {
  height: 188px;
}

.biography-card {
  min-width: 400px;
  max-width: 800px;
}

.biography-avatar {
  background-image: url('../../assets/avatar.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 2rem 0;
}
