

.biography-card {
  max-width: 400px;
  float:left;
}

.biography-avatar {
  background-image: url('../../assets/avatar.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 2rem 0;
}

mat-card-content a, a:visited
{
  color: inherit;
}
mat-grid-tile {
  background: inherit;
}
