mat-card-content a, a:visited
{
  color: inherit;
}
mat-grid-tile {
  background: inherit;
}
mat-card {
  background-color: ivory;
}

.biography-card {
  max-width: 400px;
  float:left;
}

.biography-avatar {
  background-image: url('../../assets/avatar.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 2rem 0;
}

.under-construction {
  width: 400px;
  height: 582px;
  background-image: url('../../assets/1376.jpg');
}

.under-construction p {
  margin-top: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.backlogg {
  width: 400px;
  height: 582px;
}
