mat-card-content a, a:visited
{
  color: inherit;
}
mat-grid-tile {
  background: inherit;
}

.biography-avatar {
  background-image: url('../../assets/avatar.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 2rem 0;

}

.row {
  display: flex;
  justify-content: space-around;
}

.left {
  // width: 65%;
  flex: 0 1 auto;
}

.right {
  // width: 35%;
  flex: 0 2 auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
