<mat-grid-list cols="3" rowHeight="2:3">
  <mat-grid-tile>
      <mat-card class="biography-card">
          <mat-card-header>
            <div mat-card-avatar class="biography-avatar"></div>
            <mat-card-title>Jimmy "Gimpan" Quach</mat-card-title>
            <mat-card-subtitle>Developer <br /> Gamer</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              My name is Jimmy Quach and I'm a developer for almost six years now. I'm
              proficient with SharePoint, C# with ASP.NET, JavaScript, HTML5 and CSS3.
              I've worked in small and large teams using agile methods (SCRUM, KanBan,
              TDD) and mostly with Microsoft TFS + Subversion. <br />From time to time I
              dabble into Java, SQL and read about Software patterns and IT security.
              <br />Lately it's all been about web development with the MEAN stack, AWS
              and git.
            </p>
            <p>
              This is my place of learning and training. Here you can see my hobby
              projects and some of my skills in action. My work can be found on github so you can
              follow the progress and development of this site/app on: <br />
              <a href="https://github.com/Gimpan/mean-labs"
                >github.com/Gimpan/mean-labs</a
              >
              <br />
              I have plans for other projects and things to learn, check them out on the
              right.
            </p>
            <p></p>
          </mat-card-content>
          <img mat-card-image />
          <mat-card-actions>
            <button mat-button>LIKE</button> <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="backlogg">
          <mat-card-content>
      <h2>Posts</h2>
        <p>
          On the top there's a Posts section to try out. It's a simple list of posts that
          contain one image. It's connected to a database (MongoDB) that stores the posts. Try it out by
          by creating a user and login. Since I'm still working on the SSL/TSL use fake passwords
          and username. The password is encrypted and stored on the DB.
        </p>


            <h2>To Do</h2>
            <p>
              At the moment my focus will be on this MEAN stack app.
            </p>
            <mat-list>
              <mat-list-item> Drag and drop with npm ng.dnd </mat-list-item>
              <mat-list-item> KanBan board with draggable & droppable items </mat-list-item>
              <mat-list-item> Connection to git, show some feed  </mat-list-item>
              <mat-list-item> Interactive mini-game </mat-list-item>
              <mat-list-item> FB, Linkedin, git links </mat-list-item>
              <mat-list-item> SSL/TSL </mat-list-item>
              <mat-list-item> Layouts and styling </mat-list-item>
             </mat-list>
            </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile >
    <mat-card class="under-construction">
      <mat-card-content>
        <p>
          UNDER CONSTRUCTION
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
