:host {
  float:left;
}

.example-card {
  max-width: 400px;
  float:left;
}

.header-image {
  background-image: url('../../assets/avatar.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 2rem 0;
}

mat-card-content a, a:visited
{
  color: inherit;
}
